*~
bin
*.pyc
django/sarpaminfohub/local_settings.py
django/sarpaminfohub/fixtures
django/sarpaminfohub/fixtures/*.json
django/sarpaminfohub/fixtures/initial_data
django/sarpaminfohub/sarpam_pma.sqlite
django/sarpaminfohub/sarpaminfohub.sqlite
scripts/*.json
