{%  extends 'embedded.html' %}

{% block main %}

{% if new_contact %}
<div id="flashmessagebox">
	<p>Thanks for adding your contact details to the Experts List. Below is how your profile will look to other users.</p>
</div>
{% endif %}

<h1>{{object}}</h1>

{% if not object.linked_in_url %}
<h2>Phone Number</h2>
<p>{{object.phone}}</p>

<h2>E-mail</h2>
<p><a href="mailto:{{email}}">{{email}}</a></p>
{% endif %}
<h2>Role</h2>
<p>{{object.role}}</p>

<h2>Organization</h2>
<p>{{object.organization}}</p>

<h2>Notes</h2>
<p>{{object.note|safe}}</p>

<h2>Address</h2>
<p>{{object.address_line_1}}</p>
<p>{{object.address_line_2}}</p>
<p>{{object.address_line_3}}</p>
<p>{{object.country}}</p>

<h2>Tags</h2>
<ul>
{%for tag in object.tag_hex_list%}
<li><a href="/contacts/tags/{{tag.1}}/">{{tag.0}}</a></li>
{%endfor%}
</ul>

{% if object.linked_in_url %}
<h2>Linked-In Profile</h2>
<p>Go to <a target="_blank" href="{{object.linked_in_url}}">Linked-In</a> for more details and contact information</p>
{% endif %}
<p>Back to <a href="/contacts/">Search</a></p>
{% endblock main %}
