{% extends "embedded.html" %}

{% block main %}
    <h2>Linked In Connection</h2>
    
{% if auth_url %}
<script src="/site_media/jquery-1.5.1.min.js"></script>
<script type="text/javascript">
	// function linked_in_callback() {
	// 	alert('Hello!'+new_contact_id);
	// 	window.location = '/contacts/'+new_contact_id;
	// }
	// 
	// function load_linked_in() {
	// 	linked_in_window=window.open('{{auth_url}}');
	// 	linked_in_window.window.owner=this.window;
	// 	// linked_in_window.addEventListener('close',linked_in_callback());
	// 	return false;
	// }
	// auth_url = '{{auth_url}}';
	// function useIFrame(){
	// 	// $('linkedinframe')
	// }
	
</script>
		<p>If you want to add your Linked In profile to the Sarpam Experts search</p>
		<p><a onClick="window.open('{{auth_url}}','','width=400,height=400');return false;" href="#">click here</a></p>
<iframe style="display:none;" id="linkedinframe">
	
</iframe>
{% else %}
		<table>
			<tr><th>Given Name</th><td>{{given_name}}</td></tr>
			<tr><th>Family Name</th><td>{{family_name}}</td></tr>
			<tr><th>URL</th><td>{{public_url}}</td></tr>
			<tr><th>Notes</th><td>{{notes}}</td></tr>
			<tr><th>Tags</th><td>{{tags}}</td></tr>
			<tr><th>Position</th><td>{{position}}</td></tr>
			<tr><th>Organization</th><td>{{organization}}</td></tr>
			<tr><th>Address</th><td>{{address}}</td></tr>
		</table>
{% endif %}
{% endblock main %}