<table class="graph">

{% for row in table.rows %}
<tr>
	<td nowrap="nowrap">
		{{ row.country }}
	</td>
	<td width="100%">
		<span class="bar fob_price" style="width:{% if row.fob_price != '' %}{% widthratio row.fob_price table.max_price 100 %}{% else %}0{% endif %}%">{{ row.fob_price }}</span>
		<span class="bar landed_price" style="width:{% if row.landed_price != '' %}{% widthratio row.landed_price table.max_price 100 %}{% else %}0{% endif %}%">{{ row.landed_price }}</span>
	</td>
</tr>
{% endfor %}

</table>
