<table class="graph">

<tr>
	<td style="text-align:right;" width="20%">0.000</td>
	<td width="80%" class="scale">
		<table><tr>
		{% for k in table.scale %}
			<td width="10%">{{ k|stringformat:".03f" }}</td>
		{% endfor %}
		</tr></table>
	</td>
</tr>
{% for row in table.rows %}
<tr>
	<td nowrap="nowrap" width="20%" class="label">
		{{ row.country }}
	</td>
	<td width="80%" class="grid">
		<table><tr>
			<td width="10%">
				<div>
					{% if msh_price %}<div class="msh_price marker" style="left:{% widthratio msh_price table.max_price 696 %}px;"></div>{% endif %}
					{% if median_fob_price %}<div class="median_fob_price marker" style="left:{% widthratio median_fob_price table.max_price 696 %}px;"></div>{% endif %}
					{% if median_landed_price %}<div class="median_landed_price marker" style="left:{% widthratio median_landed_price table.max_price 696 %}px;"></div>{% endif %}
					<span id="bar_{{forloop.counter}}_fob" class="bar fob_price" style="width:{% if row.fob_price != '' %}{% widthratio row.fob_price table.max_price 696 %}{% else %}0{% endif %}px;margin-bottom:5px;margin-top:0px">{{ row.fob_price }}</span>
					<span id="bar_{{forloop.counter}}_landed" class="bar landed_price" style="width:{% if row.landed_price != '' %}{% widthratio row.landed_price table.max_price 696 %}{% else %}0{% endif %}px;margin-top:4px;">{{ row.landed_price }}</span>
				</div>
			</td>
			<td width="10%"></td>
			<td width="10%"></td>
			<td width="10%"></td>
			<td width="10%"></td>
			<td width="10%"></td>
			<td width="10%"></td>
			<td width="10%"></td>
			<td width="10%"></td>
			<td width="10%"></td>
		</tr></table>
	</td>
</tr>
{% endfor %}

<tr class="foot">
	<td colspan="2">
		<span class="noborder" id="fobkey">&nbsp;&nbsp;&nbsp;</span>
		<span class="noborder">FOB Price ({{sarpam_currency_code}})</span>
		<span class="noborder" id="landedkey">&nbsp;&nbsp;&nbsp;</span>
		<span class="noborder">Landed Price ({{sarpam_currency_code}})</span>
		<p>
		<span class="msh_price label">MSH Price: {{ msh_price|floatformat:sarpam_number_rounding }}</span>
		<span class="median_fob_price label">Median FOB Price: {{ median_fob_price|floatformat:sarpam_number_rounding }}</span>
		<span class="median_landed_price label">Median Landed Price: {{ median_landed_price|floatformat:sarpam_number_rounding }}</span>
		</p>
	</td>
</tr>

</table>
