<link href="http://cdn.jotfor.ms/jotform.cssgz?3.1.110" rel="stylesheet" type="text/css" />
<style type="text/css">
    .form-label{
        width:150px !important;
    }
    .form-label-left{
        width:150px !important;
    }
    .form-line{
        padding:10px;
    }
    .form-label-right{
        width:150px !important;
    }
    .form-all{
        width:650px;
        color:Black !important;
        font-family:Verdana;
        font-size:12px;
    }
</style>

<form class="jotform-form" action="" method="post">{# {% csrf_token %} #}
    <div class="form-all">
        <ul class="form-section">
            <li class="form-line" id="id_3">
                <label class="form-label-left" id="label_3" for="input_3"> Search Term </label>
                <div id="cid_3" class="form-input">
                    <input type="text" class="form-textbox" id="input_3" name="{{ form.search_term.name }}{{ form.search_term.errors }}" size="20" />
                </div>
            </li>
            <li class="form-line" id="id_4">
                <label class="form-label-left" id="label_4" for="input_4"> Tags </label>
                <div id="cid_4" class="form-input">
                    <select class="form-list" style="width:150px" id="input_4" name="tags" size="10" multiple="multiple">
                        {% for id, val in form.fields.tags.choices %}
                        <option value="{{ id }}">{{ val }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
            <li class="form-line" id="id_2">
                <div id="cid_2" class="form-input-wide">
                    <div style="margin-left:156px" class="form-buttons-wrapper">
                        <button id="input_2" type="submit" class="form-submit-button">
                            Search
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>

{% if search %}
	{% if not form.errors %}
		<h3>Results</h3>
		<table id="results">
			<tr>
				<th>Name</th>
				<th>Role</th>
				<th>Organization</th>
				<th>Country</th>
				<th>Tags</th>
				<th>Profile</th>
			</tr>
		{% for result in query %}
			<tr>
				<td>
					{{result.object}}
				</td>
				<td>
					{{result.object.role}}
				</td>
				<td>
					{{result.object.organization}}
				</td>
				<td>
					{{result.object.country}}
				</td>
				<td>
					{{result.object.tags}}
				</td>
				<td>
					<a href="{{result.object.get_absolute_url}}">Link</a>
				</td>
			</tr>
		{% empty %}
			<tr><td colspan="6">No Results found.</td></tr>
		{% endfor %}
		</table>
	{% endif %}
{% endif %}
<div class="linkedinbox">
    <img src="/site_media/btn_in_20x15.png" width="20" height="15" alt="LinkedIn" /><a onclick="openLinkedInWindow('/contacts/add_linked_in_profile/');" href="#" text="Add/Update My LinkedIn Profile">Add/Update</a>
</div>

<div class="linkedinbox">
    <img src="/site_media/btn_in_20x15.png" width="20" height="15" alt="LinkedIn" /><a onclick="openLinkedInWindowWithCheck('/contacts/delete_linked_in_profile/');" href="#" text="Delete My LinkedIn Profile">Delete</a>
</div>

<p id="permissions">
By clicking on Add/Update you are permitting us to store your name, specialties,
positions, public profile url, summary and location from your LinkedIn profile.
</p>
