{% extends "page.html" %}

{% block main %}
    <h2>Search Contacts</h2>

    <form method="post" action="">{# {% csrf_token %} #}
		<table>
			<tr>
				<td>{{ form.search_term }}{{form.search_term.errors}}</td>
			</tr>
			<tr>
				<td>{{ form.tags }}{{form.tags.errors}}</td>
			</tr>
		</table>
			
		<input type="submit" value="Search" />
		</form>
			{% if search %}
        {% if not form.errors %}
            <h3>Results</h3>
						<table>
							<tr>
								<th>Name</th>
								<th>Role</th>
								<th>Organization</th>
								<th>Country</th>
								<th>Tags</th>
								<th>Profile</th>
							</tr>
            {% for result in query %}
							<tr>
                <td>
									{{result.object}}
								</td>
								<td>
									{{result.object.role}}
								</td>
								<td>
									{{result.object.organization}}
								</td>
								<td>
									{{result.object.country}}
								</td>
								<td>
									{{result.object.tags}}
								</td>
								<td>
									<a href="{{result.object.get_absolute_url}}">Link</a>
								</td>
							</tr>
            {% empty %}
                <tr><td colspan=5>No Results found.</td></tr>
            {% endfor %}
						</table>
						{%endif%}
        {% else %}
            <p>Search for a contact by Given Name, Family Name, Notes, and select multiple tags to refine your search.</p>
        {% endif %}  
{% endblock main %}