<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="/site_media/favicon.ico" type="image/x-icon" />
        
        <title>SARPAM Infohub</title>
        {% block head %}
        {% endblock %}
        <link href="/site_media/reset-min.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/site_media/base-min.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/site_media/sarpam.css" media="screen" rel="stylesheet" type="text/css" />
    </head>
    <body class="standalone">
        {% block body %}
        {% endblock %}
    </body>
</html>
