{% for row in table.rows %}
  <tr>
    <td class="first country">{{ row.country }}</td>
		{% ifequal row.fob_price "--" %}
		    <td class="second number">--</td>
		{% else %}
		    <td class="second number">{{ row.fob_price|stringformat:sarpam_number_format }}</td>
		{% endifequal%}
		{% ifequal row.landed_price "--" %}
		    <td class="third number">--</td>
		{% else %}
		    <td class="third number">{{row.landed_price|stringformat:sarpam_number_format}}</td>    
		{% endifequal%}
  </tr>
{% endfor %}
