{% extends "base.html" %}
{% block body %}
		<div id="page">
            <div id="header">
                <h1>Drug Price Database</h1>
            </div>
    		{% if search_form %}
    		<div id="search_container">
        		<p id="search_text">
        		Search drugs by molecule, for example search for
        		<a href="{% url search %}?search=aciclovir">aciclovir</a> or <a href="{% url search %}?search=">list all</a>
        		</p>
                <form id="search" action="{% url search %}">
                    {{ search_form.as_p }}
                    <input type="submit" value="Search" />
                </form>
            </div>
            {% endif %}
            
            <h2>{{ sub_title }}</h2>
            <h3>{{ sub_sub_title }}</h3>
            
            <div class='main'>
            {% if menu %}
            {{ menu.as_html }}
            {% endif %}
            
            {% block main %}
            <p>Nothing here yet...</p>
            {% endblock %}
            </div>
		</div>
{% endblock %}
