{%  extends 'page.html' %}

{% block main %}
<div id="content">
    <div id="product_info">
    	<table class="form">
			<tr>
				<th>Formulation</th>
				<td><a href="{% url formulation-by-id formulation_id=product.formulation.id backend_name="" %}">{{ product.formulation.name }}</a></td>
			</tr>
			<tr>
				<th>INN (generic molecule name)</th>
				<td>{{ product.formulation.generic_name }}</td>
			</tr>
			<tr>
				<th>WHO Prequalified</th>
				<td>{{ product.who_prequalified|yesno }}</td>
			</tr>
			<tr>
				<th>Strength</th>
				<td>{{ product.formulation.strength }}</td>
			</tr>
			<tr>
				<th>Packaging</th>
				<td>{{ product.packaging }}</td>
			</tr>
			<tr>
				<th>Unit of issue</th>
				<td>{{ product.unit_of_issue }}</td>
			</tr>
		</table>
		
		<table class="data">
			<tr>
				<th>Country</th>
				<th>Supplier</th>
				<th>Manufacturer</th>
			</tr>
			{% for reg in product.registrations.all %}
			<tr>
				<td>{{ reg.country.name }}</td>
				<td>
					{% if reg.supplier %}
						<a href="{% url suppliers supplier_id=reg.supplier.id backend_name="" %}">{{ reg.supplier.name }}</a>
					{% else %}
						Unknown
					{% endif %}
				</td>
				<td>{{ reg.manufacturer.name }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock main %}
