body
{
    margin:0;
    padding:0;
  font-family:Verdana,sans-serif;
}

#page 
{
    width:940px;
    background-color:#ffffff;
}

#search_container
{
    width:100%;
    float:left;
    clear:both;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 0px;
}

h3 {
    padding: 0;
    margin: 0;
}

#search_text, #search
{
}

#search
{
    width:65%;
}

#search_text
{
    width:35%;
}


#map
{ 
  float:left;
}

#map_canvas
{ 
  float:left;
  width: 510px;
  height:510px;
}

ul.menu
{
  margin:1em 0 0 0;
  padding:0;
}

ul.menu li
{
	list-style: none;
  position:relative;
  float: left;
  font-weight:bold;
  padding-left:0.5em;	
  padding-right:0.5em;
  padding-top:0.5em;
  padding-bottom: 0.5em;
  margin-left:auto;
  margin-right: 0.5em;	
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  background-color:#454e7e;
  color:white;
}

.menu li.selected
{
  background-color:#7381d1;
}

#info table 
{
 background-color: #8c9dff; 
 }
#info table td,#info table th
 {
 border-color: #5b66a6 ; 
 border-width: 1px 0px 1px 0px;
  padding: 0.5em;
 }

#content
{ 
  background-color:#7381d1;
  width:100%;
  float:left;
}

h1
{ 
  font-size:x-large;
}

h2
{ 
  font-size:large;
  color:#abbb81;
}

h3
{ 
  font-size:medium;
}

h4
{ 
  font-size:small;
}

h1, h3
{
  color:#16223A;
}

table
{ 
  background-color:white;
  margin:0;
}

th, td
{ 
  border:thin solid #ccc;
}

td, th
{ 
  padding:0.2em;
}

.menu a:visited, .menu a:link
{ 
  color:white;
  text-decoration:none;
}

#info
{ 
  float:left;
  margin-left:1em;
}

#info th
{ 
  text-align:left;
}

#pricedistribution, #pricegraph
{ 
  float:left;
  width:100%;
}

#pricedistribution .prequalified {
  background-color: white ; 
}

table.data, table.form, #pricegraph table 
{
    margin:1em auto;
    width:95%;
	background-color: #C9D1FF;
}

table.data td, table.form td, table.form th
{
   	border-color: #5b66a6 ; 
	border-width: 1px 0 ;
}

table.data th
{
    color: white;
	background-color:#7381d1;
	border: 0;
	border-bottom: 1px solid #C9D1FF;
	text-align:left;
}

table.form th
{
	text-align:left;
}

table.form td
{
	width: 70%;
} 

#pricegraph .graph {
    -moz-border-radius: 10px 10px 10px 10px;
    background-color: #FFFFFF;
    border-collapse: separate;
  width:940px;
    padding: 10px 50px 10px 20px;
}

#pricegraph .graph td{border:0;}
#pricegraph .graph td.label {
    background-color: #454E7E;
    border-color: #5B66A6 #333333 #FFFFFF #5B66A6;
    border-style: solid;
    border-width: 1px 5px 1px 1px;
    color: #FFFFFF;
}

#pricegraph .graph .scale table{
	width:100%;
	position:relative;
	left:35px;
	background-color:inherit;
}
#pricegraph .graph .scale td{text-align:right;}
#pricegraph .graph .grid{padding:0;height:36px;}
#pricegraph .graph .grid td {
    background-color: #FFFFFF;
    border-color: #5B66A6;
    border-style: solid;
    border-width: 1px 1px 0 0;
    padding: 0;
    vertical-align: top;
}

#pricegraph .graph .grid table{margin:0;width:100%;height:36px;}
#pricegraph .graph .grid div{position:relative;}
#pricegraph .graph .grid .bar{position:absolute;top:0;left:0;height:15px;display:block;white-space:nowrap;margin:2px 0;font-size:70%;height:15px;}
#pricegraph .graph .grid .fob_price{top:0;background-color:#7381D1;}
#pricegraph .graph .grid .landed_price{top:16px;background-color:#93A1f1;}
#pricegraph .graph .grid .msh_price{position:absolute;width:1px;top:0;height:36px;}
#pricegraph .graph .grid .median_fob_price{position:absolute;width:1px;top:0;height:36px;}
#pricegraph .graph .grid .median_landed_price{position:absolute;width:1px;top:0;height:36px;}
#pricegraph .graph tr.foot{border-top:1px solid #5b66a6;}
#pricegraph .graph tr.foot td{text-align:right;}
/*#pricegraph .graph tr.foot td span{border-left:2px solid red;padding-left:6px;}*/

#formulation_msh{width:95%;margin:0 auto;color:white;}

#info h3, #map h3
{
    margin-top:0;
    color:white;
    text-align:center;
    margin-top:0;
}

#map h3
{ 
  
}

#header
{ 
  width:100%;
  float:left;
}

#header img
{ 
  float:left;
}

#header p
{ 
    width:75%;
}

form p
{
    display:inline;
    margin-right:0.5em;
}

#key
{ 
  padding:1em 0em 0.3em 0em;
  text-indent: 0.3em;
   border-color: #5b66a6 ; 
 border-width: 1px;
  width: 510px;
  float:left;
  clear:both;
  background-color: #8c9dff;
  
}

#key p
{ 
  display:inline;
  padding:0;
}



.biobody h1 { font-size: 80%;  }
.biobody h2 { font-size: 150%; border-bottom: 1px solid #aaa; padding-bottom: 0.5em; margin: 0 0 1em 0; }
.biobody
.rightbox {
	position: relative;
	float: right;
	margin-right: 1em;
	padding: 0;
}

.biobody .biobox {
	border: 1px solid #ccc;
	background-color: #eee;
	padding:1em;
	margin:1em;
}
.biobody .biobox {}
.biobody dl dt 
{
font-weight: bold;
float: left;
width: 10em;
margin: 0;
padding: 0;
}

.biobody dl dd {
padding: 0 0em 1em 0em;
margin: 0 0 0 10em;
}

.biobody dl dd p { margin: 0 0 1em 0; width: 35em; }

.searchresults table ul { list-style: none; padding: 0; margin: 0; }

.searchresults table td { padding: 0.5em; border-width: 1px 0px 0px 0px; margin: 0; }
.searchresults table h3 { margin: 0; }

.searchresults table li.job { color: #666; padding-bottom: 0.5em; }
.searchresults table li.org { }
.searchresults table li { margin-top: 0.2em; }
.searchresults table ul.tags a { background-color: #ddd; padding: 0.1em 0.6em; -moz-border-radius: 10px; }
.searchresults table ul.tags  li { margin-bottom: 0.5em; }

.searchresults table ul.tags .searchterm, .searchterm
{ 
  background-color:yellow;
}
.searchresults .filterresults { float: right; position: relative; width: 20em; padding: 0.5em; }
.searchresults .filterresults h3 { background-color: #ccc; padding: 0.5em; margin: 0.5em 0; }
.searchresults .filterresults  ul { list-style: none; padding: 0; margin: 0; }
.searchresults .filterresults  ul ul { padding: 0 0 0.5em 1.5em; font-style: italic; }

.number
{
    width:100px;
    text-align:right;
}

.country
{
    text-align:left;
}

td.first, td.second, td.third, td.fourth
{
    padding-left:10px;
    padding-right:20px;
}

td.first, td.third {
    background-color:#C9D1FF;
}

td.second, td.fourth {
    background-color:#969CFF;
}

#fobkey {
    background-color:#7381D1;
}

#landedkey {
    background-color:#93A1F1;
}

span {
    margin-left:10px;
}

.noborder {
    border-left:0px;
}

#pricegraph .graph .foot .label {
    padding-left:6px;
}

#pricegraph .graph .grid .marker,
#pricegraph .graph .foot .label {
	border-left-width: 2px;
	border-left-style: solid;
}

#pricegraph .graph .msh_price {
	border-color: red;
}

#pricegraph .graph .median_fob_price {
	border-color: #fc8;
}

#pricegraph .graph .median_landed_price {
	border-color: #caf;
}

dl {
    margin:0;
}

.jquerybubblepopup {
    text-align:left;
}

#flashmessagebox {
    border:2px solid #3B5998;
    background:#BCC7DD;
    padding:0.5em;
}

#flashmessagebox p{
    margin-bottom:0px;
}

.linkedinbox {
    padding:0.2em;
    border:thin solid #BCC7DD;
    display:inline-block;
}
.linkedinbox a {
    text-decoration:none;
    color:#0783B6;
}

.linkedinbox img {
    margin-top: auto;
    margin-bottom:auto;
}

#licence ol {
    text-align: justify;
    font-size: 0.8em;
}

#licence li {
    margin-bottom: 10px;
}

#permissions {
    margin-top:1em;
    font-size: 75%;
    color:#0783B6;
}

#results {
    margin-top:1em;
    margin-bottom:1em;
}